<div class='footer-dark'>
    <footer>
        <div class='footer-nav'>
            <nav>
                <ul id='dashboard'>
                    <li id='sections'>
                        <h3><a routerLink='faq'>FAQ</a></h3>
                    </li>
                    <li id='sections'>
                        <h3><a (click)="toggleShow()">Subscribe to our Newsletter</a></h3>
                    </li>
                </ul>
            </nav>
        </div>

<div *ngIf="isShown" class="row container-fluid"  id="divshow" >
    <app-newsletter></app-newsletter>

</div>
       
        <div class='group-box'>
            <h3>Group Members</h3>
            <ul>
                <li>
                    Zafer Hakan Kalafat
                </li>
                <li>
                    Guray Demirezen
                </li>
                <li>
                    Vishnu Pillai
                </li>
                <li>
                    Nicholas Keller-Sedan
                </li>
                <li>
                    Oreoluwa Lawal
                </li>
            </ul>
        </div>
        <p class='copyright'>Falcons ltd.© 2022</p>
    </footer>
</div>