<div class='page-style-hk'>
    <h1 id="topics-hk">Gallery</h1>
    <div class="gallery-container">
        <br />
        <p id='gallery-p'> {{chefs}}</p>
        <img id="gallery-img" src="https://shielded-depths-40144.herokuapp.com/assets/images/our-chefs.jpg"/>
        <br /><br /><br />
        <p id='gallery-p'> {{kitchen}}</p>
        <img id="gallery-img" src="https://shielded-depths-40144.herokuapp.com/assets/images/our-kitchen.jpg"/>
        <br /><br /><br />
        <p id='gallery-p'> {{patio}}</p>
        <img id="gallery-img" src="https://shielded-depths-40144.herokuapp.com/assets/images/outdoor-patio-bar.jpg"/>
        <br /><br /><br />
        <p id='gallery-p'> {{customerService}}</p>
        <img id="gallery-img" src="https://shielded-depths-40144.herokuapp.com/assets/images/restaurant-customer-service.jpg"/>
    </div>
</div>