.reviews-textarea {
    resize: none;
    height: 150px;
    width: 720px;
}

div,form {
    margin-left: 1%;
}

#review-results-div {
    background-color: blanchedalmond;
    padding-left: 1%;
}

#page-style-hk {
    min-height: calc(100vh - 250px);
    width: 80%;
    margin: 30px auto;
  }